
html,
body{
  height: 100%
  padding: 0px;
  margin: 0px;

}

.container{
  height: 100vh;
  width: 100%
  background-image: url()
}

.footer{
  background-color: BLACK;
  color: WHITE;
  height: 15em;
  position: relative;
}

.footer,
.footer-content{
  border: 1px solid BLACK;
  display: flex;
}

.footer,
.footer-content
.footer-section{
  flex: 1;
  padding: 25px;
  border: 3px solid RED;
}

.footer,
.footer-bottom{
  background: GREY;
  color: WHITE;
  text-align: center;
  height: 10em;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  width: 100%
}
