
*{
  height: 100%
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1,
h2, {
 font-family: serif, "Garamond";
}
p{
font-family: serif, "TimesNewRoman";
}
.navbar-brand{
  font-family: serif, "Garamond";
  margin-right: -7.5%;

}
.page{
  display:flex;
  padding-top: 5%;
}
.content {
  margin-right: 15%;
  margin-top: 7.5%;
  margin-left: 10%;


}
.content h1{
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;

}
.content p{
    font-size: 20px;
    color:
}
.extra{
  display: inline-block;
  background: linear-gradient(45deg, #573609, #7DB3AA);
  border-radius: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  color:#fff;
  box-shadow: 5px 10px 25px rgba(167, 179, 161, 70);
font-family: serif, "TimesNewRoman";
}

.icons{
  margin-top: 20px;
  display: flex;
}
.icons img{
  margin-right: 10px;
}
.images{
  display: flex;
  justify-content: center;
}
.feature{
  display: flex;
  flex-grow: 1;
  max-width: 40%;
  min-width: 25%;
  height: 100%;
  width: 100%;
  margin-left: 10px;
  margin-left: 10px;
  border-right: 10px solid black;
  border-left: 10px solid black;

}
/* History  */
.info{
  margin-left: 10%;
  margin-right: 90%

}

.pics{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}
.class{
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
}
/* Game */

.grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: rows;

}

.coverart{
border: 5px solid red;
}
.content{
  margin: auto;
}

/* Info */
.test {
  background-image:url(../images/ghostface.png);
  background-position: cover;
  background-size: contain;
  background-repeat: no-repeat;

}
.infopage{
  display:flex;
  padding-top: 5%;
  margin-bottom: 30%;
}
.Links{
  display: flex;
  justify-content: flex-start;
  margin-right: 20%;
  flex-direction: column;

}

/* Footer */


.footer-container{
  padding-bottom:0;
  position: relative;
  padding-top: 0%;
  bottom: 0;
  width: 100%;
}
.footer{
  background-color: #570200;
  color: #fff;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap:wrap;
  height: 15rem;
  position: relative;
  color: white;
  margin-top: 5%;
  width: 100%;
}

.footer-heading{
  display:flex;
  color: #fff;
  flex-direction: column;
  margin-right: 4rem;
  align-items: center;
}
.footer-heading h2{
  margin-bottom: 2rem;
  text-decoration: none;
  margin-bottom: 1rem;
}
.footer-heading a{
  font-size: 1.5rem;
  color: #0A0601;
}
